<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
<link rel="stylesheet" href="/public/css/account.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form method="POST" enctype="multipart/form-data" id="form_table" class="form-1" name="form_table" novalidate style="width: 75%;">
    <div class="container rounded bg-white mb-5" id="account_table">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <div class="container">
                        <div class="picture-container">
                            <div class="picture">
                                <img style="height: 100%; min-width: 100% !important" src="{{user.avatar}}" alt="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no"
                                 id="avatarPreview" title="" >
                                <input type="file" id="avatar" name="avatar" accept="image/*" class="" value="/public/images/users/avatar/{{user.email}}.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <label for="email" style="padding: 0;">Email</label>
                        <div class="col-md-12" style="padding: 0;">
                            <input disabled style="color: gray;" type="text" class="email" placeholder="email" id="email" name="email" value="{{user.email}}">
                            <span class="form__group-message email-message"></span>
                        </div>
                    </div>
                    {{!-- <div class="row mt-2">
				        <label for="name"><i class="fa-solid fa-user mr-2 ml-3"></i>Name</label>
				        <div class="col-md-12" style="position: relative;">
                            <input id="name" class="name" type="text" disabled style="flex: 1;" autocomplete="new-name">
                            <button type="button" class="btn btn-light" style="position: absolute; right: 0; height: 54px"
                                data-toggle="modal" data-target="#exampleModalCenterName"><i class="fa-solid fa-pen"></i></button>
				        </div>
				        <span class="form__group-message email-message"></span>
			        </div> --}}
                    {{!-- <div class="row mt-3">
                        <div class="col-md-6"><label for="fullname" class="labels">FullName</label><input type="text" class="fullname" placeholder="name" id="fullname" name="fullname" value="{{user.fullname}}"><span class="form__group-message email-message"></span></div>
                        {{#unless isEmail}}
                            <div class="col-md-6"><label for="password" class="labels">Password</label><input type="password" class="password" value="********" id="password" name="password" placeholder="password" required><span class="form__group-message email-message"></span></div>
                        {{/unless}}
                        {{#if isEmail}}
                            <div class="col-md-6"><label for="password" class="labels">Password</label><input disabled style="color: gray;" type="password" class="password" value="********" id="password" name="password" placeholder="password" required><span class="form__group-message email-message"></span></div>
                        {{/if}}
                    </div> --}}
                    <div class="row mt-3">
                        <label for="fullname" style="padding: 0;">FullName</label>
                        <div class="col-md-12" style="position: relative; display: flex; padding: 0;">
                            <input type="text" class="fullname" placeholder="name" id="fullname" name="fullname" value="{{auth.fullname}}" disabled>
                            <button type="button" class="btn btn-light" style="position: absolute;right: 0;height: 38px; border: 1px solid #d2d6db;" data-bs-toggle="modal" data-bs-target="#exampleModalCenterName"><i class="fa-solid fa-pen"></i></button>
                        </div>
                        <span class="form__group-message email-message"></span>
                    </div>
                    <div class="row mt-3">
                        <label for="password" style="padding: 0;">Password</label>
                        <div class="col-md-12" style="position: relative; display: flex; padding: 0;">
                            {{#unless isEmail}}
                                <input disabled type="password" class="password" value="********" id="password" name="password" placeholder="password" required>
                                <button type="button" class="btn btn-light" style="position: absolute;right: 0;height: 38px; border: 1px solid #d2d6db;" data-bs-toggle="modal" data-bs-target="#exampleModalCenterPassword"><i class="fa-solid fa-pen"></i></button>
                            {{/unless}}
                            {{#if isEmail}}
                                <input disabled style="color: gray;" type="password" class="password" value="********" id="password" name="password" placeholder="password" required>
                            {{/if}}
                        </div>
                        <span class="form__group-message email-message"></span>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-upload-wrap" style="display: none;">
                    <input class="file-upload-input" id="cover" name="cover" type='file' value="/public/images/users/cover/{{user.email}}.jpg" onchange="readURL2(this);" accept="image/*" />
                    <div class="drag-text">
                        <h3>Drag and drop a file or select to add cover Image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="{{user.cover}}" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Cover Image</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="exampleModalCenterName" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Change Name</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form action="change-name" method="POST" class="form-2">
					<div class="container-fluid">
						<div class="grid" style="  grid-gap: 0px; grid-template-columns: 1fr;">
							<div class="form-group ">
								<label for="cur-name">Current name</label>
								<input id="cur-name" class="cur-name" value="{{auth.fullname}}" type="text" autocomplete="new-name" style="background: #fafafa; color: gray;" disabled>
								<span class="form__group-message email-message"></span>
							</div>
							<div class="form-group ">
								<label for="new-name">New Name</label>
								<input id="new-name" class="new-name" type="text"  name="name" autocomplete="new-name">
								<span class="form__group-message email-message"></span>
							</div>
						</div>
						<div class="button-container">
							<button class="btn btn-primary" type="submit" style="margin-top: 10px;">Apply Change</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModalCenterPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form action="change-password" method="POST" class="form-3">
					<div class="container-fluid">
						<div class="grid" style="  grid-gap: 0px; grid-template-columns: 1fr;">
							<div class="form-group ">
								<label for="cur-password">Current password</label>
								<input id="cur-password" class="cur-password" type="password" autocomplete="new-password">
								<span class="form__group-message email-message"></span>
							</div>
							<div class="form-group ">
								<label for="new-password">New password</label>
								<input id="new-password" class="new-password" type="password"  name="password" autocomplete="new-password">
								<span class="form__group-message email-message"></span>
							</div>
							<div class="form-group ">
								<label for="password">Confirm new password</label>
								<input id="confirm-password" class="confirm-password" type="password" autocomplete="new-password">
								<span class="form__group-message email-message"></span>
							</div>
						</div>
						<div class="button-container">
							<button class="btn btn-primary" type="submit" style="margin-top: 10px;">Apply Change</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
    $(document).ready(function(){
// Prepare the preview for profile picture
    $("#avatar").change(function(){
        readURL(this);
    });
});
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#avatarPreview').attr('src', e.target.result).fadeIn('slow');
        }
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<script>
    function readURL2(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
		$('.image-upload-wrap').addClass('image-dropping');
	});
	$('.image-upload-wrap').bind('dragleave', function () {
		$('.image-upload-wrap').removeClass('image-dropping');
});

</script>

<script src="/public/script/validate.js"></script>
<script src="/public/script/validateUser.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	ValidatorName({
		form:".form-2",
		error_message: ".form__group-message",
		onSubmit: function (data) {
			let newName = document.querySelector("#new-name").value;
			let email = `{{auth.email}}`;
			$.post("/auth/check-current-name",
				{
					name: newName,
					email: email,
				},
				function(data, status){
					if(data.exists == true){
						Swal.fire({
							width: 600,
							icon:`error`,
							title: `You have entered your current name!`,
							showConfirmButton: false,
							timer: 2500
						})
					}
					else{
						document.querySelector(".form-2").submit()
					}				
				}
			);
		}
	})
	ValidatorPassword({
		form:".form-3",
		error_message: ".form__group-message",
		onSubmit: function (data) {
			let curPass = document.querySelector("#cur-password").value;
			console.log(curPass);
			$.post("/auth/check-valid-pass",
					{
						password: curPass,
					},
					function(data, status){
						if(data.isValid == false){
							Swal.fire({
								width: 600,
								icon:`error`,
								title: `Your current password not correct. Please type again!`,
								showConfirmButton: false,
								timer: 2500
							})
						}else{
							document.querySelector(".form-3").submit()
						}				
					});
		}
		
	}) 

</script>
<script>
    Validator(
        {
            form: ".form-1",
            error_message: ".form__group-message",
			rules:[
			
			],
            onSubmit: function (data) {
				document.querySelector(".form-1").submit()
                {{!-- let email = document.querySelector("#email").value;
				$.post("/auth/check-current-email",
					{
						email
					},
					function(data, status){
						if(data.exists == false){
							document.querySelector(".form-1").submit()
						}else{
                            Swal.fire({
								width: 600,
								icon:`error`,
								title: `Your email already exists. Please use other email!`,
								showConfirmButton: false,
								timer: 2500
							})
						}				
				    }
                ); --}}
            }
        })
</script>

{{#if isAlert}}
    <script>
        Swal.fire({
  icon: '{{icon}}',
  title: '{{title}}',
  showConfirmButton: false,
  timer: 1500
}).then(result=>{
    window.location.href = '/profile/edit-account'
})
    </script>
{{/if}}
