
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/public/css/shared-recipe.css">
<link rel="stylesheet" href="/public/css/pagination.css">



<div class="container mt-5 row" style="max-width: 99;">
   <h1 style="margin-left: 22rem;">My Favorite Recipes</h1>
   <div class="col-3">
      <div class="card" style="width: 18rem;">
                  <div class="card-header">
                     Menu
                  </div>
                 <ul class="list-group list-group-flush">
                     <a name="" id="" class="list-group-item" href="/profile/sharedrecipe?email={{this.auth.email}}&p=1" role="button">
                     <i class="fa-solid fa-list" style="color: #5161ce;"></i>
                     
                     My Recipe</a>
                     <a name="" id="" class="list-group-item" href="/profile/favorite?email={{this.auth.email}}&p=1" role="button">
                     <i class="fa-solid fa-bookmark" style="color: #5161ce;">

                     </i>Favorite Recipe</a>
                     <a name="" id="" class="list-group-item" href="/profile/favorite?p=1" role="button">
                     <i class="fa-solid fa-pencil" style="color: #5161ce;"></i> Edit Ìnormation</a>
                  </ul>
                  
      </div>  
   </div>
   {{#if this.isEmpty}}
   {{else}}
      <div class="col-9 d-flex">
            {{#each this.list}}
            
               <div class="card sharedrecipe" >
               
                  <div class="card-body">
                     <a class="recipeName" href="/recipes/{{id}}">
                     <h5 class="card-title ">{{Name}}</h5>
                     <img class="card-img-top " width="100px" height="150px" src="/public/images/recipes/{{id}}/{{id}}_finishImage_1.jpg" alt="...">
                     </a>
                     <div>
                           {{{description}}} 
                     </div>
                     
                     <div>
                        <a>
                        <i class="fa-regular fa-clock"></i>
                        Cooking Time: {{cookingTime}}
                     </a>
                     </div>
                     <div>
                     <a>
                        <i class="fa-regular fa-thumbs-up" style="color: #5161ce;"></i>
                        0
                     </a>
                     </div>
                     <div>
                        <form action="" method="post">
                           <button class="btn btn-danger" formaction="/profile/favorite/remove?email={{../this.auth.email}}&recipeID={{id}}">
                           <i class="fa-solid fa-heart-circle-minus" style="color: #ffff;"></i> Remove
                           </button>
                        </form>
                        
                     </div>
  
                  </div>
               </div>
            {{/each}}
            
            
            
         </div>
      {{/if}}
       <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
      </div>
</div>
<script src="/public/script/pagination.js">

</script>
<script>
  {{#if nPage}}
   const valuePage = {
    totalPages: {{this.nPage}},
    curPage: {{this.page}},
    truncate: true,
        numLinksTwoSide: 1,
        url: `{{url}}`
    };
    pagination(valuePage);
  {{/if}}
    
</script>


