
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/public/css/shared-recipe.css">
<link rel="stylesheet" href="/public/css/pagination.css">




   {{#if this.isEmpty}}
   {{else}}
      <div class="col-9 ">
         <div class="card">
            <div class="card-header">
               <h1 style="margin-left: 1rem;">Following</h1>
            </div>
            <div class="card-body d-flex flex-wrap">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{#each this.list}}                    
                        <tr>
                           <td ><a href="" style="text-decoration: none;">{{fullname}}</a></td>
                           <td><a href="" style="text-decoration: none;">{{email}}</a></td>
                           <td>
                             <form action="/admin/course/disabled?id={{ID}}" method="POST" class="justify-content-center">
                                 
                                 <button type="submit" name="status" value="disable" class="btn btn-sm btn-outline-danger justify-content-center">
                                    <i class="bi bi-heartbreak"></i></i> Unfollow</button>
                                 
                              </form>
                           </td>
                        </tr>
                     {{/each}}
                     
                     
                  </tbody>
                  </table>
                  
                   
            </div>
            <div class="card-footer">
                     <div class="page-container">
                        <a class="first-page">
                        <i class="fas fa-angle-double-left"></i>
                        </a>
                        <a class="prev-page">
                        <i class="fas fa-angle-left"></i>
                        </a>
                        <div id="pagination"></div>
                        <a class="next-page">
                        <i class="fas fa-angle-right"></i>
                        </a>
                        <a class="last-page">
                        <i class="fas fa-angle-double-right"></i>
                        </a>
                  </div>
            </div>
         </div> 
      </div>
      {{/if}}
<script src="/public/script/pagination.js">

</script>
<script>
  {{#if nPage}}
   const valuePage = {
    totalPages: {{this.nPage}},
    curPage: {{this.page}},
    truncate: true,
        numLinksTwoSide: 1,
        url: `{{url}}`
    };
    pagination(valuePage);
  {{/if}}
    
</script>


