<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />

<link rel="stylesheet" href="/public/css/shared-recipe.css">
<link rel="stylesheet" href="/public/css/pagination.css">
<h1>Shared Recipe</h1>
<div class="container mt-5 row" style="margin-top: 20px">
   <div class="col-3"></div>
   {{#if this.isEmpty}}
   {{else}}
      <div class="col-9 d-flex flex-wrap">
            {{#each this.list}}
            
               <div class="card sharedrecipe" >
               
                  <div class="card-body">
                     <h5 class="card-title">{{Name}}</h5>
                     <img class="card-img-top " src="/public/images/recipes/{{id}}/{{id}}_finishImage_1.jpg" alt="...">
                     {{{description}}}
                  </div>
               
                  <div class="card-body">
                     <a href="#" class="card-link">Card link</a>
                     <a href="#" class="card-link">Another link</a>
                  </div>
               </div>
            {{/each}}
             {{#each this.list}}
            
               <div class="card sharedrecipe" >
               
                  <div class="card-body">
                     <h5 class="card-title">{{Name}}</h5>
                     <img class="card-img-top " src="/public/images/recipes/{{id}}/{{id}}_finishImage_1.jpg" alt="...">
                     {{{description}}}
                  </div>
               
                  <div class="card-body">
                     <a href="#" class="card-link">Card link</a>
                     <a href="#" class="card-link">Another link</a>
                  </div>
               </div>
            {{/each}}
             {{#each this.list}}
            
               <div class="card sharedrecipe" >
               
                  <div class="card-body">
                     <h5 class="card-title">{{Name}}</h5>
                     <img class="card-img-top " src="/public/images/recipes/{{id}}/{{id}}_finishImage_1.jpg" alt="...">
                     {{{description}}}
                  </div>
               
                  <div class="card-body">
                     <a href="#" class="card-link">Card link</a>
                     <a href="#" class="card-link">Another link</a>
                  </div>
               </div>
            {{/each}}
            
            
         </div>
      {{/if}}
       <div class="page-container">
                <a class="first-page">
                <i class="fas fa-angle-double-left"></i>
                </a>
                <a class="prev-page">
                <i class="fas fa-angle-left"></i>
                </a>
                <div id="pagination"></div>
                <a class="next-page">
                <i class="fas fa-angle-right"></i>
                </a>
                <a class="last-page">
                <i class="fas fa-angle-double-right"></i>
                </a>
      </div>
</div>


