
<link rel="stylesheet" href="/public/css/shared-recipe.css">
<link rel="stylesheet" href="/public/css/userProfile.css">
<style>
  
</style>

<div class="container-profile">
    <div class="profile-header" style="background-image: url('/public/images/users/cover/{{this.user.email}}.jpg'); background-size: cover;  background-repeat: no-repeat;
        width: 80%;">
        <div class="profile-img">
            <img src="/public/images/users/avatar/{{this.user.email}}.jpg" width="150" alt="Profile Image" onerror="this.src = '/public/images/default_avt.png'">
        </div>
        <div class="profile-nav-info">
            <h3 class="user-name"  style="background-color:#05B7DC; border-radius:10px;padding: 3px; color:white; padding-left:10px;">{{this.user.fullname}}
                <div class="btn-group">
                <button class="btn btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <i class="fa-solid fa-ellipsis-vertical menu-profile" style="color:white;" ></i>
                </button>
                <ul class="dropdown-menu " style="min-width: 100px;">
                    
                        <li class="dropdown-item">
                            <form action="" method="post">
                                {{#if isFollowed}}
                                <button name="" id="" class="btn btn-sm btn-outline-danger" href="#" role="button" formaction="/profile/unfollow?follower={{this.auth.email}}&followedUser={{this.user.email}}">
                                    <i class="bi bi-heartbreak"></i>Unfollow</button>
                                {{else}}
                                <button name="" id="" class="btn btn-sm btn-outline-primary" href="#" role="button" formaction="/profile/follow?follower={{this.auth.email}}&followedUser={{this.user.email}}">
                                    <i class="fa-regular fa-square-plus"></i></i>Follow</button>
                                {{/if}}
                            </form>
                        </li>
                        <li class="dropdown-item report">
                            <button name="" id="" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
                                <i class="fa-solid fa-circle-exclamation"></i>Report</button>
  
                        </li>
                       
                    </ul>
                </div>
            </h3>
             <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="exampleModalLabel">Report  {{this.user.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="report" action="/profile/report?userReported={{this.user.email}}" method="post">
                        <div class="mb-3">
                            <label for="reported-emailTxt" class="col-form-label">Reported from:</label>
                            <input type="text" class="form-control" readonly id="reported-emailTxt" name="reportedEmail" value="{{this.auth.email}}">
                        </div>
                        <div class="mb-3">
                            <label for="reasonTxt" class="col-form-label">Reason:</label>
                            <textarea class="form-control" id="reasonTxt" maxlength="199" name="reason"></textarea>
                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="send">Send report</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="address"  style="background-color:#05B7DC; border-radius:10px; color:white; padding:12px 0px 0px 20px; ">
                <p class="user-mail"> {{this.user.email}}{{#if isFollowed}}<p class="user-mail" style="padding:0px 20px 0px 20px;"><i class="fa-solid fa-check"></i>Followed</p>
                {{/if}}
                </p>
                
                 <div class="address"  >
                    
                    <p style="color: white; padding-right:5px; margin-left:15px;"> {{follownumber}} Follower</p>
                  
                  
                </div>
            </div >
           
            
            

        </div>
    </div>
    
    <div class="container">
         {{#if isEmpty}}
                    <div class=" " style="display:flex; flex-direction: column ; align-item:center; justify-content:center;">
                        <h1 style="z-index: 1; width:1300px; text-align: center;">This user has not shared any recipes</h1>
                        <img src="/public/images/empty.png" class="d-block " style="width:1000px; min-width:1300px; " alt="...">
                        
                    </div>
     
               
                               
                {{else}}
                   <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    {{#each list}}
                        <div class="carousel-item active">
                            <div class="card sharedrecipe" style=" border-radius: 14px; ">
                                <a class="stretched-anchor" href="/recipes/{{this.id}}"></a>
                                <div class="img-wrapper">
                                    <img class="card-img-top d-block w-100" style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;" src="/public/images/recipes/{{this.id}}/{{this.id}}_finishImage_1.jpg"  alt="...">
                                </div>
                                
                                <div class="card-body mt-2">
                                <h5 class="recipe_name">{{this.Name}}</h5>
                                <div class="recipe_des">{{{description}}}</div>
                                <div class="bottom-card">
                                <div class="one-third">
                                    <div class="stat">{{this.numSteps}}</div>
                                    <div class="stat-value">Steps</div>
                                </div>
                                <div class="one-third">
                                    <div class="stat">{{this.numIngres}}</div>
                                    <div class="stat-value">Ingredients</div>
                                </div>
                                <div class="one-third no-border">
                                    <div class="stat">{{totalCalories}}</div>
                                    <div class="stat-value">Calories</div>
                                </div>
                                </div>
                                </div>
                                
                            </div>
                    
                        </div>
                    {{/each}}
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                {{/if}}
                
               

            


            
        
           
     
      
    </div>
   
   
</div>

<script>
        $( "#send" ).on( "click", function() {
    $( "#report" ).trigger( "submit" );
    } );
</scrip>
<script>
        const multipleItemCarousel = document.querySelector("#carouselExampleControls");
        
      
            var carouselWidth = $(".carousel-inner")[0].scrollWidth;
            var cardWidth = $(".carousel-item").width();
            var scrollPosition = 0;

            $(".carousel-control-next").on("click", function () {
                if (scrollPosition < carouselWidth - cardWidth * 4) {
                scrollPosition = scrollPosition + cardWidth;
                $(".carousel-inner").animate({ scrollLeft: scrollPosition }, 1000);
                }
            });
            $(".carousel-control-prev").on("click", function () {
                if (scrollPosition > 0) {
                scrollPosition = scrollPosition - cardWidth;
                $(".carousel-inner").animate({ scrollLeft: scrollPosition }, 1000);
                }
            });
        
</script>

