<link rel="stylesheet" href="/public/css/jarallax.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
<link rel="stylesheet" href="/public/css/home.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/public/css/slick.css">
<link rel="stylesheet" href="/public/css/wave-card.css">
<style>
  .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
</style>

<section class="parallax" >   
    <img src="/public/images/text.png" id="text" style="top:30%;    width: 45%;" />
  <img src="https://i.ibb.co/BZs8WZr/stars.png" id="stars" />
    <img src="/public/images/dishes.png" id="right_cloud" width="350px"/>
</section>

<section class="section section_offset" data-aos="flip-up" style="padding: 30px 40px 10px 40px;">
  <div class="container-fluid" >
    <div class="feedback">
      <div class="row align-items-center">
        <div class="col-xs-12 col-lg-3 mb-4 mb-lg-0 mr-3">
          <h2 class="feedback__title">Popular Recipes</h2>
          <i class="feedback__text">The dishes that receive the most positives from user as well as the most viewed.</i>
        </div>
        <div class="col-xs-12 col-lg">
          <div class="swiper feedback__slider">
            <div class="swiper-wrapper">
              {{#each pupularRecipes}}
                <div class="feedback__item swiper-slide" style="position: relative;">
                  <a href="/recipes/{{this.id}}" class="anchor-stretch"></a>
                  <div class="card border-none" style="    position: initial;">
                    <div class="row g-0">
                      <div class="col-md-5">
                        <img src="/public/images/recipes/{{this.id}}/{{this.id}}_finishImage_1.jpg" class="img-fluid rounded-start rounded-end" alt="...">
                      </div>
                      <div class="col-md-7 text-align-right">
                        <div class="card-body">
                          <h5 class="card-title bold-text mt-3">{{this.Name}}</h5>
                          <div class="d-flex align-items-center mt-3" style="justify-content: flex-end;">
                            <div><img style="border-radius:50%; width: 32px; height: 32px" src="/public/images/demo_savt.png" onerror="this.src = '/public/images/default_avt.png'"></div>
                            <div style="font-size: 13px;" class="text-muted">
                              <div class="row">
                                <span>{{this.fullname}}</span>
                              </div>
                              <div class="row">
                                <span>{{convertDate this.datePosted}}</span>
                              </div>
                            </div>
                          </div>
                          
                          <div class="card-text ellipsis mt-3" style="font-size: 16px; ">{{{this.description}}}</div>
                          <div class="d-flex text-muted mt-3 mb-4" style="align-items: center; justify-content: flex-end;    font-size: 14px;">
                            <div class="me-3">
                              <i class="fa-solid fa-stairs"></i>
                              {{this.numSteps}} Steps
                            </div>
                            <div class="me-3">
                              <i class="fa-solid fa-carrot"></i>
                              {{this.numIngres}} Ingredients
                            </div>
                            <div class="me-3">
                              <img src="/public/images/apron.png" style="display: inline;width: 18px;margin-right: 10px;" width="21px" alt="">
                              {{this.preparationTime}}
                            </div>
                            <div>
                              <i class="fa-solid fa-clock"></i>
                              {{this.cookingTime}}
                            </div>
                          </div>
                          <div style="display: inline;border: 1px solid #ccc;padding: 8px;border-radius: 16px;background: #cc">
                            <span class="mr-2" style="font-size: 16px;">{{this.numLikes}}</span>
                            <i class="fa-solid fa-heart" style="margin: 0; color:red"></i>
                          </div>
                          <div class="text-muted" style="display: flex;align-items: center;font-size: 14px; position: absolute;top: 8px;right: 16px;">
                            <img src="/public/images/calories.png" style="    width: 30px;" alt="">
                            {{this.totalCalories}} calories
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid mb-4 mt-4" style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
  <div class="row justify-content-center align-items-center mt-5" style="flex-direction: column;min-height:100px" >

      <p class=" mt-2 mb-2" style="font-style: italic;
    font-size: 21px;
    font-family: cursive;
    text-align: center;">Ready to share your specialty dish?</p>
    <a href="" style="display: block; text-align:center">
      <button  type="button" class="btn btn-warning" style="width: 100px;">Join us</button>
    </a>
  </div>
</div>


<div class="container-sm popular-courses ml-4 mr-4 mt-3" data-aos="zoom-out-down" style="padding-top: 50px;">
  <h2 class="slider-title mb-3">Newest Recipes</h2>
  <div class="container-sm ml-5 mr-5">
    <div class="card-deck slick-5">
      {{#each newestRecipes}}
        <div class="card popover-data-{{this.id}}" style="min-height:300px; margin: 0px 10px">
          <a href="/recipes/{{this.id}}" class="anchor-stretch"></a>
          <img src="/public/images/recipes/{{this.id}}/{{this.id}}_finishImage_1.jpg" height="160"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title ellipsis-single">{{this.Name}}</h5>
            <div class="d-flex align-items-center mt-3" style="justify-content: flex-start;">
              <div>
                <img style="border-radius:50%; width: 32px; height: 32px" src="/public/images/demos_avt.png" onerror="this.src = '/public/images/default_avt.png'"  alt="">
              </div>
              <div style="font-size: 13px;" class="text-muted">
                  <div class="row">
                    <span>{{this.fullname}}</span>
                  </div>
                  <div class="row">
                    <span>{{convertDate this.datePosted}}</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>




<div class="container-sm popular-courses ml-4 mr-4" style="padding-top: 50px;" data-aos="fade-down-right">
  <h2 class="slider-title mb-3">Most people are viewing</h2>
  <div class="container-sm ml-5 mr-5">
    <div class="swiper single-Swiper">
      <div class="swiper-wrapper">
        {{#each mostViewRecipes}}
          <div class="feedback__item swiper-slide" style="position: relative;">
            <a href="/recipes/{{this.id}}" class="anchor-stretch"></a>
            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/public/images/recipes/{{this.id}}/{{this.id}}_finishImage_1.jpg" class="img-fluid rounded-start rounded-end" alt="...">
                </div>
                <div class="col-md-8 text-align-left">
                  <div class="card-body">
                    <h5 class="card-title bold-text mt-3">{{this.Name}}</h5>
                    <div class="d-flex align-items-center mt-3" style="justify-content: flex-start;">
                      <div><img style="border-radius:50%; width: 32px; height: 32px" src="/public/images/demos_avt.png"  alt="" onerror="this.src = '/public/images/default_avt.png'"></div>
                      <div style="font-size: 13px;" class="text-muted">
                        <div class="row">
                          <span>{{this.fullname}}</span>
                        </div>
                        <div class="row">
                          <span>{{convertDate this.datePosted}}</span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="card-text ellipsis mt-3 indent" style="font-size: 16px; ">{{{this.description}}}</div>
                    <div class="d-flex text-muted mt-3 mb-4" style="align-items: center; justify-content: flex-end;    font-size: 14px;">
                      <div class="me-3">
                        <i class="fa-solid fa-stairs"></i>
                        {{this.numSteps}} Steps
                      </div>
                      <div class="me-3">
                        <i class="fa-solid fa-carrot"></i>
                        {{this.numIngres}} Ingredients
                      </div>
                      <div class="me-3">
                        <img src="/public/images/apron.png" style="display: inline;width: 18px;margin-right: 10px;" width="21px" alt="">
                        {{this.preparationTime}}
                      </div>
                      <div>
                        <i class="fa-solid fa-clock"></i>
                        {{this.cookingTime}}
                      </div>
                    </div>
                    
                    <div class="text-muted" style="display: flex;align-items: center;font-size: 14px; position: absolute;top: 8px;right: 16px;">
                      <img src="/public/images/calories.png" style="    width: 30px;" alt="">
                      {{this.totalCalories}} calories
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-pagination_mostview" style="width: 80px;margin-left: auto;margin-right: auto;transform: translateX(0);"></div>
  </div>
</div>




<div class="container-fluid">
  <img src="/public/images/image2.png" class="mt-4" width="100%" alt="">
</div>

<div class="container-sm popular-courses ml-4 mr-4 mt-3" style="padding-top: 50px;">
  <h2 class="slider-title mb-3">Most-used ingredients</h2>
  <div class="container-sm ml-5 mr-5">
    <div class="card-deck slick-5">
      <div class="container" style="height: 255px;">
        <div class="parent">
          <div class="wave-card">
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <h3 class="wave-card-title">Thịt bò</h3>
            <small class="wave-card-subtitle">Thịt bò xào cà chua, cơm chiên trân châu</small>
          </div>
        </div>
      </div>
      <div class="container" style="height: 255px;">
        <div class="parent">
          <div class="wave-card">
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <h3 class="wave-card-title">Thịt bò</h3>
            <small class="wave-card-subtitle">Thịt bò xào cà chua, cơm chiên trân châu</small>
          </div>
        </div>
      </div>
      <div class="container" style="height: 255px;">
        <div class="parent">
          <div class="wave-card">
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <h3 class="wave-card-title">Thịt bò</h3>
            <small class="wave-card-subtitle">Thịt bò xào cà chua, cơm chiên trân châu</small>
          </div>
        </div>
      </div>
      <div class="container" style="height: 255px;">
        <div class="parent">
          <div class="wave-card">
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <div class="wave-card-shape"></div>
            <h3 class="wave-card-title">Thịt bò</h3>
            <small class="wave-card-subtitle">Thịt bò xào cà chua, cơm chiên trân châu</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{#section 'script2'}}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  console.log(updateTab("home-tab"))
    
</script>
<script>
    $('.slick-5').slick({
    dots: true,
    infinite: true,
    speed: 400,
    autoplay: true,
    autoplaySpeed: 2800,
    slidesToShow: 5,
    slidesToScroll: 5,
    responsive: [
      {
        breakpoint: 1449,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 4,
        }
      },
      {
        breakpoint: 940,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      },
      {
        breakpoint: 785,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          dots: false,
          arrows: false
        }
      },
      {
        breakpoint: 575,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: false
        }
      }
    ]
  });
</script>
<script>
  {{#each newestRecipes}}
  let popover{{this.id}} = new bootstrap.Popover('.popover-data-{{this.id}}', {
  trigger: 'hover',
      container: 'body',
      html: true,
      title: "<i>{{this.Name}}</i>",
      content: `
        <h6><b>About recipes</b>: </h6>
          <div class="d-flex text-muted mt-3 mb-4" style="align-items: center; justify-content: flex-end;    font-size: 14px;">
            <div class="me-3">
              <i class="fa-solid fa-stairs"></i>
              {{this.numSteps}} Steps
            </div>
            <div class="me-3">
              <i class="fa-solid fa-carrot"></i>
              {{this.numIngres}} Ingredients
            </div>
            <div class="me-3">
              <img src="/public/images/apron.png" style="display: inline;width: 18px;margin-right: 10px;" width="21px" alt="">
              {{this.preparationTime}}
            </div>
            <div>
              <i class="fa-solid fa-clock"></i>
              {{this.cookingTime}}
            </div>
          </div>  
        <h6><b>Recipe description</b>: </h6>
        {{{this.description}}}
        <h6><b>Total Calories</b>: </h6>
        {{this.totalCalories}}
      `
})
  {{/each}}
  
</script>
{{/section}}

<script src="/public/script/jarallax.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script>
  AOS.init();
</script>

<script>
const feedback = document.querySelector('.feedback__slider');
const feedback_offset = 150;

function feedbackUpdateHeight(height) {
  if (!height) return false;
  feedback.style.height = `${height + feedback_offset}px`;
}

if (feedback) {
  feedbackUpdateHeight(feedback.querySelector('.feedback__item').offsetHeight);

  const feedback_slider = new Swiper(feedback, {
    direction: 'vertical',
    autoplay: true,
    slidesPerView: 'auto',
    autoHeight: true,
    centeredSlides: true,
    spaceBetween: 30,
    grabCursor: true,
    loop: true,
    mousewheel: true,
  });

  feedback_slider.on('slideChange', () => {
    setTimeout(() => {
      feedbackUpdateHeight(feedback_slider.slides[feedback_slider.activeIndex].offsetHeight);
    }, 300);
  });
}

</script>
  <script>
    var swiper = new Swiper(".single-Swiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination_mostview",
        dynamicBullets: true,
      },
    });
  </script>

