<link rel="stylesheet" href="/public/css/pagination.css">
<div class="card">
  <div class="card-header">
   Reported User
  </div>
  <div class="card-body">
    {{#if this.isEmpty}}
      <p>No Data</p>
    {{else}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Reason</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.list}}
            <tr >
            <td scope="col">
                  <a name="" id="" class="btn" href="/profile?email={{email}}" role="button">
                    {{fullname}}
                   </a>
                </td>
                <td scope="col">
                    {{email}}
                </td>
                <td scope="col">
                    <form action="/admin/accounts/disabled?email={{email}}" method="POST" class="justify-content-center">
                    {{#if isbaned}}
                      <button type="submit" name="status" value="enable" class="btn btn-outline-success justify-content-center "> 
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                        Enable</button>
                    {{else}}
                    <button type="submit" name="status" value="disable" class="btn btn-outline-danger justify-content-center">
                      <i class="fa fa-lock" aria-hidden="true"></i> Disable</button>
                  {{/if}}
                    </form>
                </td>
                <td scope="col">
                  <a name="" id="" class="btn btn-outline-primary float-right" href="/admin/{{#ifeq Role 1 }}instructor{{else}}student{{/ifeq}}?id={{IDUser}}&role={{Role}}&p=1" role="button" >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  Details
                  </a>
                </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    </div>
  </div>
    
</script>
